/* Base Styles -------------------------------- */
*{
  box-sizing: border-box;
}
body {
font-family: 'Work Sans', sans-serif;
line-height:1.6;
margin: auto;
background-color: #fefefd;
max-width: 100%;
}

label{
color:gray;
flex: 1;
}
input, textarea, select{
background:#dce4ec;
font-size: 18px;
border-radius: 5px;
flex: 2;
}
input:focus,
textarea:focus,
select:focus {
  outline: 3px solid #161484;
}

fieldset{
  border:none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder{
text-align:right;
font-size: 12px;

}
main {
margin-top: 2.2%;
  margin-left: 2.2%;
  margin-right: 2.2%;
}

legend {
font-size:20px;
}
p {
color:gray;
}
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #23a7a7;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
footer {
  color:gray;
  font-style: oblique;
  text-align: center;
  margin-bottom: 30%;
}
.break{
  border-top: 5px solid black;
}
hr {
  border-top: 2.5px solid black;
}

/* Classes -------------------------------- */

.title {
background:#132713;
color:#e2e8e1;
text-align: center;
font-size:20px;
}
.first-info{
text-align: center;
}

input[type="radio"],
input[type="checkbox"]{
width:5%;
margin-right: 0;

}
label .inline{
  display:inline-block;
}
.container1{
  display:flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-start;
  margin-bottom: 10px;
}
#zip_code {
  width: 50%;
}


/* Media  -------------------------------- */
@media(min-width:768px){
  .container1{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    flex-direction:row;
}
label{
  flex-grow: 1;
  font-size: 1.1em;
  margin-top: 10px;
}
input, textarea, select{
background:#dce4ec;
flex-grow: 2;
font-size: 2em;
}
.zip1 {
  flex:2;
}
#zip_code{
  width:25%;
}
#other-topics{
  width: 100%;
}
main, .first-info{
  margin-left:10%;
  margin-right:10%;
}

}
